---
import Layout from '../layouts/Layout.astro';
import Selector from '../components/Selector.svelte';
---

<Layout>
  <main class="flex justify-center h-screen ">
    <div class="mt-20 md:mt-30 xl:mt-40 flex flex-col items-center gap-4">
      <Selector client:load />
    </div>
  </main>
</Layout>