---
import Layout from '../layouts/Layout.astro';
import Selector from '../components/Selector.svelte';
---

<Layout>
  <main class="flex justify-center h-screen w-full">
    <div class="flex flex-col items-center w-full">
      <Selector client:load />
    </div>
  </main>
</Layout>