---
import Layout from '../layouts/Layout.astro';
import Selector from '../components/menu/Selector.svelte';
---

<Layout>
  <main class="flex justify-center h-screen">
    <Selector client:load />
  </main>
</Layout>