---
import Layout from '../layouts/Layout.astro';
import Initial from '../components/Initial.svelte';
---

<Layout>
  <main class="flex justify-center h-screen">
    <Initial client:load />
  </main>
</Layout>